<div class="cities index">
  <h2>Cities</h2>

  <%= link_to("Back To Cities List", {:action => 'index'}, :class => 'back-link') %>

    <%= form_for(:city, :url => {:action => 'create'}) do |f| %>

    <table summary="City form fields">
      <tr>
        <th>Name</th>
        <td><%= f.text_field(:cities_name) %></td>
      </tr>
      <tr>
        <th>Short name</th>
        <td><%= f.text_field(:short_name) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Create City") %>
    </div>

  <% end %>

</div>
